/* Common tags                 */
/*-----------------------------*/		

body
{
	font-family: Arial, Tahoma;
	font-size: small;
	color: #000000;
	margin: 2px 15px 10px;
	padding: 0;
	text-align: left;
	border-bottom-width: thin;
	border-bottom-color: #ccccff;
	border-top-width: thin;
	border-left-width: thin;
	border-left-color: #ccccff;
	border-top-color: #ccccff;
	border-right-width: thin;
	border-right-color: #ccccff;
	background-image: url(Images/bg.gif);
	background-repeat:repeat-x;
}

A:link      { color: #41519A; text-decoration:none; }
A:visited 	{ color: #41519A; text-decoration:none; }
A:active 	{ color: #41519A;  cursor:hand; text-decoration:none; }
A:hover 	{ color: #B2C3E1;  cursor:hand; text-decoration:"underline"; }
		
A.bodyLink:link     { color: #41519A; text-decoration:none; font-weight:bold; }
A.bodyLink:visited 	{ color: #41519A; text-decoration:none; font-weight:bold; }
A.bodyLink:active 	{ color: #41519A;  cursor:hand; text-decoration:none; font-weight:bold; }
A.bodyLink:hover 	{ color: #B2C3E1;  cursor:hand; text-decoration:"underline"; font-weight:bold; }
		
p
{
	line-height: 1.4em;
}

.title
{
    text-transform: uppercase;
    font-family: verdana;
    font-size: large;
    font-weight: bold;
    color: #41519A;
 }

hr {
	border: 0;
	border-top: 2px solid #41519A;
	height: 2px;
}

img
{
	border-width: 0;
}

ul
{
	list-style-image: url(Images/bullet.jpg);
	list-style-position: outside;
	list-style-type: disc;
	color: #000000;
	font-family: verdana;
}

.menutextindent
{
    font-size: x-small;
}

/* Headings                    */
/*-----------------------------*/
h1
{
	font-size: large;
	color: #6B7EBF
}

h2
{
	font-family: Verdana;
	font-size: medium;
	margin-top: 30;
	color: #6B7EBF;
	margin-bottom: -15;
}
	
h3
{
	font-family: Verdana;
	font-size: small;
	margin-bottom: -15;
	color: #6B7EBF;
	padding-left: 15;
}

h1, h2, h3, h4
{
	margin: 0;
	font-family: Verdana;
}

/* Tables                      */
/*-----------------------------*/	
table
{
	font-size: 1em;
}

table.header
{
	  background-color:#5B6DB5;
}

td.logo
{
	text-align: left;
	width: 184px;
}

td.title 
	{
		text-align: center;
		font-family: verdana;
		font-size: x-large;
		font-weight: bolder;
		color: #FFFFFF;
	}

td.headerbar 
{
	background-image: url(Images/bg.gif);
	text-align: right;
	height: 24px;
}

td.menu 
{
	background-color:#41519A;
	width: 184px;
	height: 500px;
	vertical-align: top;
}

td.footer
{
	margin-left: 30;
	font-family: Verdana;
	font-size:xx-small;
	font-weight: normal;
	color: #41519A;
	text-align: center;
}
.menu
{
	background-image: url(Images/pager_bg.gif);	
	border-left: #ccccff thin solid;
	border-right: #ccccff thin solid;
	
}


.footer
{
	text-align: center;
	vertical-align: middle;
	
}

	
.headerboder
{
	border-top: #ccccff thin solid;
	border-left: #ccccff thin solid;
	border-right: #ccccff thin solid;
}
.headerboder1
{
	border-left: #ccccff thin solid;
	border-right: #ccccff thin solid;
}
.colLeft
{
	width: 150px;
	vertical-align: top;
	padding-right: 5px;
	border-top: #ccccff 1px solid;
	padding-left: 5px;
}
.colRight
{
	width: 150px;
	vertical-align: top;
	padding-right: 5px;
	border-top: #ccccff 1px solid;
	padding-left: 5px;
	
}
.colRightAdmin
{
	width: 100%;
	text-align: center;
	vertical-align: top;
	
}


.colCenter
{
	width: 500px;	
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}


.backHome
{
	background-color: #3333FF;
}

.backContent
{
	background-color: #FFFFFF;
}

.display
{
	border-right: #ccccff 1px solid;
	border-left: #ccccff 1px solid;
	border-bottom: #ccccff 1px solid;
	border-top-width: thin;
	border-top-color: #ccccff;
}

.headercontrol
{
	background-image: url(Imges/gvheader.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.toppage
{
	background-image: url(Images/gvheader.png));	
	background-repeat:repeat-y;
}